---
// Dependencies
import { QueryClient, QueryClientProvider } from 'react-query';

// Component Imports
import Counter from '../components/Counter.jsx';
import PopupButton from '../components/PopupButton.jsx';

const someProps = {
  count: 0,
};

const queryClient = new QueryClient();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <main>
      <QueryClientProvider client={queryClient}></QueryClientProvider>
      <Counter {...someProps} client:visible>
        <h1>Hello, team!</h1>
      </Counter>
      <PopupButton client:visible />
    </main>
  </body>
</html>
