---
import fs from 'node:fs/promises';

import PopupButton from '../components/PopupButton.jsx';

// Load creds.json file for sheets API key
const url = new URL('../../creds.json', import.meta.url);
const json = await fs.readFile(url, 'utf-8');
const apiKey = JSON.parse(json).installed.api_key;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="logo">
          <img src="https://i.gyazo.com/6a8b5fbe5c5eae29f3a1213fefad9b87.png" alt="logo">
        </div>
      </div>
      <div>
        <PopupButton apiKey={apiKey} client:visible />
      </div>
    </main>
  </body>
</html>
