---
import fs from 'node:fs/promises';

import App from '../components/App.jsx';

// Load creds.json file for sheets API key
const url = new URL('../../creds.json', import.meta.url);
const json = await fs.readFile(url, 'utf-8');
const apiKey = JSON.parse(json).installed.api_key;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <div class="container">
        <br>
        <div class="logo">
          <img src="/RapidRecruit.png" height="60px" alt="logo">
        </div>
        <br>
      </div>
      <div>
        <App apiKey={apiKey} client:visible />
      </div>
    </main>
  </body>
</html>
