---
import { QueryJobData } from '../Hooks/Queries';

import axios from 'axios';
import { useQuery } from 'react-query';

import Table from '../components/Table.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        width: 100px;
        height: 100px;
        font-family: system-ui;
      }
    </style>
  </head>
  <body>
    <main>
      <Table/>
    </main>
  </body>
</html>
