  /* Body */
  
  body {
    width: 600px;
    align-items: center;
    text-align: -webkit-center;
  }

  .App {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  /* Table */
  
  table {
    border-spacing: 0;
    border: 1px solid #ededed;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table th {
    margin: 0;
    padding: 0.6rem;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    position: relative;
    background-color: #e9dfd8;
  }

  table td {
    margin: 0;
    padding: 0.6rem;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    position: relative;
  }

  table th:last-child,
  table td:last-child {
    border-right: 0;
  }

  table tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  table th::before {
    float: right;
    right: 15px;
    top: 16px;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  table th.sort-asc::before {
    background-color: #e9dfd8;
    border-bottom: 5px solid #22543d;
  }
  table th.sort-desc::before {
    background-color: #e9dfd8;
    border-top: 5px solid #22543d;
  }

  /* Input */

  input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
  }
  .filterinput {
    height: 10px;
    width: 175px;
  }

  /* Default button */

  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 750;
  }

  /* Search button */

  .searchbutton {
    padding: 10px;
    transition: all .2s;
    margin-bottom: 20px;
    font-weight: 750;
    font-size: x-large;
    width: 250px;
  }
   
   .searchbutton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .searchbutton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .searchbutton::after {
    content: "";
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .searchbutton::after {
    background-color: #eea892;
   }
   
   .searchbutton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   /* Media buttons */

  .mediabutton {
    padding: 10px;
    font-weight: 600;
    width: fit-content;
    margin: 10px;
  }
  .mediabutton:hover {
    background-color: #f19d83;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

   /* Tags */

   .ReactTags__tag {
    padding: 5px;
    margin: 3px;
    }

   .ReactTags__tagInput {
    border-radius: 15px;
    position: static;
    }
  
   .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: black;
    }

div.ReactTags__tags {
    position: relative;
}

/* Styles for selected tags */

div.ReactTags__selected {
  position: absolute;
  bottom: 50%;
  left: 0%;
  transform: translateY(50%);
  width: 150px;
}

div.ReactTags__selected span.ReactTags__tag {
    background: #ebddd3;
    border: 1.5px solid rgb(143, 143, 143);
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 6px;
    margin: 0 5px 5px 5px;
    cursor: default !important;
    border-radius: 5px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #9c9c9c;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */

div.ReactTags__suggestions {
    position: absolute;
    bottom: 50%;
    right: 0%;
    transform: translateY(50%);
    color: #000 !important;
    font-weight: normal !important;
    width: 150px;
    font-size: 12px;
    font-size: 2.5vw;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #e4b696;
    padding: 8px 3px;
    margin: 5px;
    max-height: 50px;
    background: #e9d2c2;
    font-weight: bold;
    border-radius: 5px;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #e4b696;
    cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(31, 31, 31); 
}